# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/
.env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python test cache
.pytest_cache/

# Environment variable files
.env
*.env

# Logs
*.log

# Coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover

# Miscellaneous
.DS_Store
Thumbs.db